.crm-system {
    max-width: 800px;
}

.crm-system__tabs .crm-system__tab-btn {
    color: #424242;
}

.crm-system__tabs .crm-system__tab-btn.active {
    background-color: #6200ea;
    color: white;
}

.crm-system__table th,
.crm-system__table td {
    vertical-align: middle;
}

.crm-system__btn {
    background-color: #6200ea;
    border-color: #6200ea;
}

.crm-system__btn:hover {
    background-color: #3700b3;
    border-color: #3700b3;
}

.crm-system__search-bar {
    display: flex;
    align-items: center;
}

.crm-system__search-input {
    flex-grow: 1;
    margin-right: 10px;
}
